# File: power_module_channel.template
# Date: 2017-06-26
# Author: Wayne Lewis
#
# Description:
# Database MTCA crate power module current channel
#
# Macros:
# P:    PV prefix
# UNIT: Power module number
# CH:	Power module current channel

record(ai, "$(P)$(R)$(S)Curr$(CH)-Mon") {
    field(DESC, "Ch$(CH) Current")
    field(DTYP, "Python Device")
    field(SCAN, "I/O Intr")
    field(INP,  "@MTCACrate get_val pm $(UNIT) I$(CH)")
    field(PREC, "2")

    info(archive,"monitor:5.0")
}

record(calcout, "$(P)$(R)$(S)Curr$(CH)-Calc") {
    field(DESC, "Ch$(CH) current status calc")
    field(INPA, "$(P)$(R)$(S)Curr$(CH)-Mon CPP")
    field(INPB, "0.1")
    field(CALC, "A>B?1:0")
    field(OUT,  "$(P)$(R)$(S)Ch$(CH)-Sts PP")
    field(OOPT, "On Change")

    info(autosaveFields, "INPB")
}

record(bi, "$(P)$(R)$(S)Ch$(CH)-Sts") {
    field(DESC, "Ch$(CH) current status")
    field(ZNAM, "Off")
    field(ONAM, "On")
}

